body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.body1{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.btn-primary {
    background-color: #f85332;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 10px;
    border-radius: 10px;
    margin-top: 30px;

  }
  
  .btn-secondary {
    background-color: #58c488;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 10px;
    border-radius: 10px;
    margin-top: 30px;

  }
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #8e9eab;
    
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }